@import '../../global-css/abstracts/mixins';

.container {
  display: flex;
  gap: 4rem;
  width: 100%;

  @include respond(md) {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  gap: 2rem;
}

.summary {
  margin-top: 3rem;
  color: rgb(214, 214, 214);
}

.image {
  width: 35vw;
  object-fit: cover;

  @include respond(md) {
    width: 100%;
  }
}

.cta {
  font-weight: 500;
  font-size: 1.8rem;
  width: fit-content;
  border-bottom: 3px solid #fff;

  background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: 0% 0%;

  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);

  &:hover {
    background-position: 0% 100%;
    color: #0e1011;
    gap: 1.1rem;
    z-index: 2;
  }
}
