@import '../../global-css/abstracts/mixins';

.container {
  display: flex;
  gap: 4rem;
  width: 100%;
  justify-content: space-between;

  @include respond(md) {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  gap: 2rem;
}

.summary {
  margin-top: 3rem;
  color: rgb(214, 214, 214);
}

.image {
  width: 40vw;
  object-fit: cover;

  @include respond(md) {
    width: 100%;
  }
}

.cta {
  display: flex;
  gap: 0.8rem;
  transition: all 0.2s;
  padding: 2rem 0;
  width: fit-content;

  &:hover {
    gap: 1.1rem;
  }
}
