*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  box-sizing: border-box;
  position: relative;
  font-size: 1.6em;
  background-color: $color-primary;
  color: #fff;
  margin: 0 20rem;

  @include respond(xl) {
    margin: 0 25rem;
  }

  @include respond(lg) {
    margin: 0 5rem;
  }
  @include respond(sm) {
    margin: 0 2.5rem;
  }
}

p {
  font-weight: 300;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

button {
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
}
