@import '../../global-css/abstracts/variables';

.Hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBox {
  margin-bottom: 6rem;
  & > * {
    text-align: center;
  }
}

.contact {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 3rem 20rem;
  font-weight: 300;
  list-style-type: none;
  background-color: $color-primary;
}
