@import '../../global-css/abstracts/variables';

.Hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBox {
  margin-bottom: 6rem;
  & > * {
    text-align: center;
  }
}

.title {
  font-size: 6.4rem;
  font-weight: 700;
}

.subtitle {
  font-weight: 300;
}

.contact {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 3rem 20rem;
  font-weight: 300;
  list-style-type: none;
  background-color: $color-primary;
}

.line {
  position: absolute;
  bottom: -15rem;
  border-top: 1px solid #fff;
  height: 25rem;
}
