.slide {
  height: 35rem;
  width: 12rem;
  flex-shrink: 0;
  object-fit: cover;

  &Container {
    position: relative;
    height: 35rem;
    width: 12rem;
    &::before {
      transition: all 0.2s;
      content: '';
      height: inherit;
      width: inherit;
      position: absolute;
      background-color: rgba(#1176bb, 50%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      cursor: pointer;
      &::before {
        background-color: rgba(#1176bb, 75%);
      }
    }
  }

  &Left {
    margin-right: 3rem;
  }
  &Right {
    margin-left: 3rem;
  }
}
