@import '../global-css/abstracts/variables';

.Hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBox {
  margin-bottom: 20rem;
  & > * {
    text-align: center;
  }
}
