@import '../../global-css/abstracts/variables';
@import '../../global-css/abstracts/mixins';

.container {
  position: fixed;
  right: 0;
  bottom: 0;

  display: flex;
  gap: 2rem;

  background-color: $color-primary;

  padding: 1rem;
  font-weight: 300;
  z-index: 1000;

  margin: 2rem 19rem;
  @include respond(xl) {
    margin: 2rem 24rem;
  }

  @include respond(lg) {
    margin: 2rem 4rem;
  }

  @include respond(md) {
    margin: 2rem 1.5rem;
  }
}
