@import '../../global-css/abstracts/variables';
@import '../../global-css/abstracts/mixins';

.container {
  position: relative;
}

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $color-primary;

  & > * {
    margin: 3rem 20rem 1rem;

    @include respond(xl) {
      margin: 3rem 25rem 1rem;
    }

    @include respond(lg) {
      margin: 3rem 5rem 1rem;
    }

    @include respond(md) {
      margin: 3rem 2.5rem 1rem;
    }
  }
}

.logo {
  margin-right: 1.5rem;
  width: 2rem;
  &Box {
    display: flex;
    align-items: center;
  }
}

.items {
  & > * {
    list-style: none;
    & a {
      font-weight: 300;
    }
  }
}
